<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="PathToLog" value="E:\Log.txt"/>
    <add key="BinaryPath" value="E:\BinarySerialize.txt"/>
    <add key="XmlPath" value="E:\XmlSerialize.xml"/>
  </appSettings>
  <connectionStrings>
   <add name="StringConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=myLoggerDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
   
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>